:root {
    --light-copy-color: rgb(232, 213, 204);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

header {
    font-family: 'Epilogue', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: tan;
    background-color: black;
    color: var(--light-copy-color);
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0 20px 0;

}

.head-content {
    margin-left: 25px;
}


h1 {
    padding: 5px 0 5px 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    background-image: url("../images/beerduotone.jpg");
    background-size: cover;
    background-position: center;

}

form {
    margin: 15px 0 15px 25px;
}

form #input {
    margin-right: 10px;
}

img {
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

#breweries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 300px;
    margin: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: black;
    color: var(--light-copy-color);
    font-size: 15px;
}

footer>p {
    margin: 0 25px;

}

@media only screen and (max-width: 768px) {
    .location {
        height: 100px;
    }
}

@media only screen and (min-width: 768px) {}